@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

*{
    margin: 0;
    padding: 0;
}

.fundo-opaco{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    background: rgba(49, 47, 47, 0.50);

}

.header-inv{
    width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.letras{
    min-width: 480px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.inkut{
    color: white;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 400;
}

.galaxias-fundo{
    background-image: url(img/Hero-Img\ \(5\).png);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-inv1{
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-inv2{
    padding: 30px 40px 30px 40px;
width: 1240px;
display: flex;
justify-content: space-between;
}

.fundo-opaco2{
   background-color:  rgba(0, 0, 0, 0.90);
   width: 430px;
   height: 430px;
   border-radius: 40px;
   padding: 20px;
}

.font_inter{
    font-family: initial;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.fundo-opaco3{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

@media (max-width: 1000px) {
    .header-inv{
        flex-direction: column;
    }
    .letras{
        flex-direction: column;
        padding-top: 30px;
    }

    .fundo-opaco2{
        border-radius: 0px;
       width: auto;
       height: auto;
      
    }

    .hero-inv2{
        flex-direction: column;
        padding: 30px 0px 0px 0px;
        width: 100%;
    }

    .galaxia_azul{
        width:100%;  
    }
    
    }